*~
.*~
*.swp
*.pyc
*.ics
brtva.tiff

diplib_examples/
DIPlib_test.ipynb
Features.pfs

pypylon_samples/
pypylon_test.py
vanjske_mjere.csv

gui/pyforms.py

.DS_Store
.Rhistory
.RData
.spyderproject
.spyderworkspace
__pycache__/
.ipynb_checkpoints/
trainImages/kolj_ind/*.bmp
trainImages/cep_ind/*.bmp
testImages/test2/Image*.bmp
.idea/
